<div class="w-full h-screen flex flex-col bg-neutral-800">
  <app-header></app-header>

  <section class="relative w-full h-full overflow-y-auto flex flex-col-reverse">
    <ul class="flex flex-col-reverse w-full">
      @if (messagesDisplay().length === 0 && !loadingMessages) {
      <div
        class="absolute inset-0 flex flex-col items-center justify-center text-center text-neutral-400 p-4"
      >
        <i class="pi pi-inbox mb-2 text-4xl! text-neutral-600"></i>
        Nenhuma mensagem ainda. Seja o primeiro a enviar uma!
      </div>
      } @else if (loadingMessages) {
      <div
        class="absolute inset-0 flex items-center justify-center text-neutral-400"
      >
        <i class="pi pi-spin pi-spinner text-4xl!"></i>
      </div>
      } @for (display of messagesDisplay(); track display.message.id) {
      <li>
        @if (display.showDateSeparator) {
        <div class="w-full text-neutral-500 text-sm text-center">
          {{ dateSeparator(display.message.created_at) }}
        </div>
        }
        <app-message
          [message]="display.message"
          [diffTime]="display.diffTime"
        ></app-message>
      </li>
      }
    </ul>
  </section>

  <div class="flex-1 p-2">
    <div
      class="w-full flex items-center border border-neutral-700/50 min-h-14 rounded-lg"
    >
      <textarea
        pTextarea
        rows="1"
        [maxlength]="500"
        fluid
        [placeholder]="inputPlaceholder()"
        [autoResize]="true"
        [(ngModel)]="newMessageContent"
        (keydown.enter)="$event.preventDefault(); sendMessage()"
        [dt]="inputThemes.outlined"
        [style]="{ border: '0' }"
      ></textarea>
    </div>
  </div>
</div>
