<div class="w-full h-screen flex flex-col bg-neutral-800">
  <app-header></app-header>

  <section
    class="relative w-full h-full overflow-y-scroll flex flex-col-reverse hide-scrollbar"
  >
    <ul class="flex flex-col-reverse w-full pb-4">
      @if (messagesDisplay().length === 0 && !loadingMessages) {
      <div
        class="absolute inset-0 flex flex-col items-center justify-center text-center text-neutral-400 p-4"
      >
        <i class="pi pi-inbox mb-2 text-4xl! text-neutral-600"></i>
        Nenhuma mensagem ainda. Seja o primeiro a enviar uma!
      </div>
      } @else if (loadingMessages) {
      <div
        class="absolute inset-0 flex items-center justify-center text-neutral-400"
      >
        <i class="pi pi-spin pi-spinner text-4xl!"></i>
      </div>
      } @for (display of messagesDisplay(); track display.message.id) {
      <li>
        @if (display.showDateSeparator) {
        <div
          class="w-full text-sm flex items-center px-4 gap-2 text-neutral-400 [&_hr]:w-full [&_hr]:border-t [&_hr]:border-t-neutral-700"
        >
          <hr />
          {{ dateSeparator(display.message.created_at) }}
          <hr />
        </div>
        }
        <app-message
          [message]="display.message"
          [diffTime]="display.diffTime"
        ></app-message>
      </li>
      }
    </ul>
  </section>

  @if (isMobile()) {
  <div
    class="w-full flex items-center border-t border-t-neutral-700/50 h-18 min-h-fit max-h-32 p-2 pb-4 gap-2"
  >
    <div
      class="w-full flex items-center bg-neutral-700/40 max-h-32 overflow-y-scroll hide-scrollbar rounded-2xl min-h-[47px]"
    >
      <textarea
        pTextarea
        rows="1"
        [maxlength]="500"
        fluid
        [placeholder]="inputPlaceholder()"
        [autoResize]="true"
        [(ngModel)]="newMessageContent"
        [dt]="inputThemes.outlined"
        [style]="{ border: '0', backgroundColor: 'transparent' }"
        class="flex-1!"
      ></textarea>
    </div>
    <p-button
      icon="pi pi-send"
      [dt]="buttonThemes.ghost"
      styleClass="rounded-full! bg-[#5865F2]! active:bg-[#4752C4]! text-white!"
      (click)="sendMessage()"
    ></p-button>
  </div>
  } @else {
  <div class="w-full p-2">
    <div
      class="w-full flex items-center border border-neutral-700/50 min-h-14 rounded-lg"
    >
      <textarea
        pTextarea
        rows="1"
        [maxlength]="500"
        fluid
        [placeholder]="inputPlaceholder()"
        [autoResize]="true"
        [(ngModel)]="newMessageContent"
        (keydown.enter)="$event.preventDefault(); sendMessage()"
        [dt]="inputThemes.outlined"
        [style]="{ border: '0' }"
      ></textarea>
    </div>
  </div>
  }
</div>
